html {
	--scaleMult: 1;
}

body {
	overflow: hidden;
}

/* Remove 'spin button' from number input: Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	font-family: 'Atkinson Hyperlegible', sans-serif;
	font-weight: normal;
	font-style: italic;
	color: rgba(0, 47, 70, 0.6);
}
::-moz-placeholder {
	/* Firefox */
	font-family: 'Atkinson Hyperlegible', sans-serif;
	font-weight: normal;
	font-style: italic;
	color: rgba(0, 47, 70, 0.6);
}
:-ms-input-placeholder {
	/* IE 10+ */
	font-family: 'Atkinson Hyperlegible', sans-serif;
	font-weight: normal;
	font-style: italic;
	color: rgba(0, 47, 70, 0.6);
}

/* Remove 'spin button' from number input: Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}

#Lobby {
	display: block;
}

#GameLobby {
	display: none;
}

#GameInputPhase {
	display: none;
}

#GameInputPhaseSelectInput {
	display: none;
}

#TestButtons {
	width: 100%;
	height: 40px;
}

#tempViewSelection {
	padding: 10px;
	display: flex;
	height: 30px;
	gap: 5px;
	overflow: auto;
}

#backgroundImage {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: fixed;
	background-image: url('Assets/Background1.png');
	background-size: cover;
	background-position: center;
}

#background {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: lightgrey;
}

#multiturnHeader {
	display: block;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.9);
	border-bottom: 0.8vmin white solid;
}

#logo {
	height: 85%;
}

#socialLinks {
	position: fixed;
	right: 0px;
	bottom: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row-reverse;
}

#joinPanel {
	background-color: rgba(0, 47, 70, 0.7);
	backdrop-filter: blur(3vmin);
	width: 70vmin;
	border-radius: 5vmin;
	border-width: 0.8vmin;
	border-style: solid;
	border-color: white;
	padding-bottom: 3vmin;
	margin-bottom: 1vmin;
}

.view {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0%;
}

.fullScreenContent {
	position: fixed;
	left: 0px;
	right: 0px;
	bottom: 0%;
	top: 0%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.belowHeaderContent {
	position: fixed;
	left: 0px;
	right: 0px;
	bottom: 0%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.blurPanel {
	background-color: rgba(0, 47, 70, 0.7);
	backdrop-filter: blur(3vmin);
	border-radius: 5vmin;
	border-width: 0.8vmin;
	border-style: solid;
	border-color: white;
	padding-top: 2vmin;
	padding-right: 2vmin;
	padding-bottom: 3.5vmin;
	padding-left: 2vmin;
}

.pressEffectButton {
	background-color: rgba(255, 255, 255, 0.95);
	backdrop-filter: blur(3vmin);
	color: rgb(0, 47, 70);
	font-family: 'Atkinson Hyperlegible', sans-serif;
	font-weight: bold;
	font-size: 6vmin;
	border-radius: 2vmin;
	border: none;
	box-shadow: 0 1.5vmin rgba(255, 255, 255, 0.75);
	cursor: pointer;
	transition: 0.05s;
}

.pressEffectButton:hover {
	box-shadow: 0 1.5vmin rgba(255, 255, 255, 0.55);
}

.pressEffectButton:active {
	box-shadow: 0 0 #000;
	transform: translateY(1.5vmin);
}

.mainButtonSpacing {
	margin-top: 1.5vmin;
	margin-bottom: 1.5vmin;
	padding: 2.5vmin;
	padding-left: 5vmin;
	padding-right: 5vmin;
	font-size: 9vmin;
}

.actionInfoContainer {
	display: flex;
	flex-direction: row;
}

.playerImage {
	height: 20vmin;
	width: 12vmin;
	object-fit: cover;
}

.titleText {
	color: white;
	font-family: 'Atkinson Hyperlegible', sans-serif;
	font-weight: bold;
	margin-top: 1.8vmin;
	font-size: 7vmin;
	margin-bottom: 0.8vmin;
}

.infoText {
	color: white;
	font-family: 'Atkinson Hyperlegible', sans-serif;
	font-weight: bold;
	font-size: 5vmin;
	margin: 0px;
}

.joinFormField {
	color: rgb(0, 47, 70);
	font-family: 'Atkinson Hyperlegible', sans-serif;
	font-weight: bold;
	text-align: center;
	font-size: 7vmin;
	padding: 3vmin;
	border: none;
	border-radius: 2vmin;
	width: 80%;
	height: 5vmin;
}

.socialButton {
	width: 12vmin;
	height: 12vmin;
	padding: 2vmin;
	transition: 0.05s;
}

.socialButton:hover {
	transform: scale(1.05);
	opacity: 0.9;
}

.socialButton:active {
	transform: scale(0.98);
}

.verticalCentreLayout {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	flex-direction: column;
	text-align: center;
}

.adaptivePanelLayout {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2.5vmin;
}

.verticalPanelLayout {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 2.5vmin;
}

.actionButtonLayout {
	/* position: fixed; */
	display: flex;
	justify-content: center;
	align-content: center;
	width: 80vmin;
	height: 80vmin;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 3vmin;
}

.actionButton {
	background-image: url(Assets/Doctor-01_0.png);
	background-size: contain;
	text-align: center;
	width: 38vmin;
	height: 38vmin;
	/* height: 50%; */
}

.actionNumberImage {
	width: 10vmin;
	height: 10vmin;
	left: -13.4vmin;
	top: 0.5vmin;
	position: relative;
}

.actionButton:active {
	opacity: 0.8;
}

.darkOverlay {
	background-color: rgba(0, 18, 32, 0.5);
}

.applyScaleMult {
	transform: scale(var(--scaleMult));
}

#interactButtonAnimation {
	top: 2vmin;
	right: 2vmin;
	bottom: 2vmin;
	left: 2vmin;
	position: fixed;
	/*background-image: url("Buttons/AnimatedButton-PickUpPutDown01.gif");*/ /* now uses <video> and eventually <picture> */
	background-image: url('Assets/AnimatedButton-PickUpPutDown01-spritesheet.png'); /* CSS3 anim */
	background-size: 1000%; /* for 10 images */
	background-position-y: 0;
	background-position-x: 0;
	background-repeat: repeat-x;
	/*animation: animPickUpPutDown 4s steps(1) infinite normal;*/
	animation-name: animPickUpPutDown;
	animation-duration: 4s;
	animation-timing-function: steps(1); /* Each keyframe uses 1 step */
	animation-iteration-count: infinite;
	animation-direction: normal;
	animation-play-state: running;
}

@keyframes animPickUpPutDown {
	0% {
		background-position: 0% 0;
	}
	8.70% {
		background-position: 11.11% 0;
	}
	13.04% {
		background-position: 22.22% 0;
	}
	17.39% {
		background-position: 33.33% 0;
	}
	21.74% {
		background-position: 44.44% 0;
	}
	30.43% {
		background-position: 33.33% 0;
	}
	34.78% {
		background-position: 22.22% 0;
	}
	39.13% {
		background-position: 11.11% 0;
	}
	43.48% {
		background-position: 0% 0;
	}
	52.17% {
		background-position: 55.56% 0;
	}
	56.52% {
		background-position: 66.67% 0;
	}
	60.87% {
		background-position: 77.78% 0;
	}
	65.22% {
		background-position: 88.89% 0;
	}
	69.57% {
		background-position: 100% 0;
	}
	78.26% {
		background-position: 88.89% 0;
	}
	82.61% {
		background-position: 77.78% 0;
	}
	86.96% {
		background-position: 66.67% 0;
	}
	91.30% {
		background-position: 55.56% 0;
	}
}

/* Portrait screens */
@media (orientation: portrait) {
	html {
		--scaleMult: 1;
	}

	#multiturnHeader {
		height: 15%;
	}

	/* .gameInputPanel {
		width: 85%;
		height: 70%;
	} */

	#socialLinks {
		left: 0px;
		bottom: 3vmin;
	}

	.belowHeaderContent {
		top: 15%;
	}

	.adaptivePanelLayout {
		flex-direction: column;
	}

	/* .actionButtonLayout {
		width: 95%;
	} */

	.actionInfoContainer {
		width: 68vmin;
	}

	.hideInPortrait {
		display: none;
	}
}

/* Landscape screens */
@media (orientation: landscape) {
	html {
		-webkit-backface-visibility: hidden; /* Safari */
		backface-visibility: hidden;
		--scaleMult: 0.8;
	}

	#multiturnHeader {
		height: 20%;
	}

	/* .gameInputPanel {
		width: 70%;
		height: 85%;
	} */

	.belowHeaderContent {
		top: 20%;
	}

	.adaptivePanelLayout {
		flex-direction: row;
	}

	/* .actionButtonLayout {
		height: 95%;
	} */

	.actionInfoContainer {
		width: 48vmin;
	}

	.hideInLandscape {
		display: none;
	}
}
