html {
	--scaleMult: 1;
}

body {
	overflow: hidden;
}

/* Remove 'spin button' from number input: Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	font-family: 'Atkinson Hyperlegible', sans-serif;
	font-weight: normal;
	font-style: italic;
	color: rgba(0, 47, 70, 0.6);
}
::-moz-placeholder {
	/* Firefox */
	font-family: 'Atkinson Hyperlegible', sans-serif;
	font-weight: normal;
	font-style: italic;
	color: rgba(0, 47, 70, 0.6);
}
:-ms-input-placeholder {
	/* IE 10+ */
	font-family: 'Atkinson Hyperlegible', sans-serif;
	font-weight: normal;
	font-style: italic;
	color: rgba(0, 47, 70, 0.6);
}

/* Remove 'spin button' from number input: Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}

/* -- Views -- */

#Lobby {
	display: block;
}

#WaitOrChoosePackage {
	display: none;
}

#GameInputPhase {
	display: none;
}

#GameInputPhaseSelectInput {
	display: none;
}

#GameInputPhaseSelectMoveInput {
	display: none;
}

#GameInputPhaseSelectThrowInput {
	display: none;
}

#LookAtScreen {
	display: none;
}

/* -- End of views -- */

#TestButtons {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 40px;
}

#tempViewSelection {
	padding: 10px;
	display: flex;
	height: 30px;
	gap: 5px;
	overflow: auto;
}

#backgroundImage {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: fixed;
	background-image: url('Assets/Background1.png');
	background-size: cover;
	background-position: center;
}

#background {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: lightgrey;
}

.multiturnHeader {
	display: block;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.9);
	border-bottom: 0.8vmin white solid;
}

#logo {
	height: 85%;
}

#socialLinks {
	position: fixed;
	left: 3vmin;
	bottom: 1.5vmin;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row-reverse;
	transform-origin: bottom left;
}

#joinPanel {
	background-color: rgba(0, 47, 70, 0.7);
	backdrop-filter: blur(3vmin);
	width: 70vmin;
	border-radius: 5vmin;
	border-width: 0.8vmin;
	border-style: solid;
	border-color: white;
	padding-bottom: 3vmin;
	margin-bottom: 1vmin;
}

.moveButtonImage {
	background-image: url('Assets/Move.png');
}

.throwButtonImage {
	background-image: url('Assets/Throw.png');
}

.nothingButtonImage {
	background-image: url('Assets/Nothing.png');
}

.moveNorthImage {
	background-image: url('Assets/MoveNorth.png');
}
.moveEastImage {
	background-image: url('Assets/MoveEast.png');
}
.moveSouthImage {
	background-image: url('Assets/MoveSouth.png');
}
.moveWestImage {
	background-image: url('Assets/MoveWest.png');
}

.throwNorthImage {
	background-image: url('Assets/ThrowNorth.png');
}
.throwEastImage {
	background-image: url('Assets/ThrowEast.png');
}
.throwSouthImage {
	background-image: url('Assets/ThrowSouth.png');
}
.throwWestImage {
	background-image: url('Assets/ThrowWest.png');
}

.optionsImage {
	background-image: url('Assets/Icon_Cog_64.png');
}

.musicOffImage {
	background-image: url('Assets/Icon_MusicOff_80.png');
}
.musicOnImage {
	background-image: url('Assets/Icon_MusicOn_80.png');
}

.soundOffImage {
	background-image: url('Assets/Icon_SoundOff_80.png');
}
.soundOnImage {
	background-image: url('Assets/Icon_SoundOn_80.png');
}

.timerOffImage {
	background-image: url('Assets/Icon_SoundOff_80.png');
}
.timerOnImage {
	background-image: url('Assets/Icon_SoundOn_80.png');
}

.interactButtonAnimated {
	position: relative;
	top: 5%;
	right: 5%;
	bottom: 5%;
	left: 5%;
	width: 90%;
	height: 90%;
	background-image: url('Assets/AnimatedButton-PickUpPutDown01-spritesheet.png'); /* CSS3 anim */
	background-size: 1000%; /* for 10 images */
	background-position-y: 0;
	background-position-x: 0;
	background-repeat: repeat-x;
	/*animation: animPickUpPutDown 4s steps(1) infinite normal;*/
	animation-name: interactButtonAnimation;
	animation-duration: 4s;
	animation-timing-function: steps(1); /* Each keyframe uses 1 step */
	animation-iteration-count: infinite;
	animation-direction: normal;
	animation-play-state: running;
}

@keyframes interactButtonAnimation {
	0% {
		background-position: 0% 0;
	}
	8.70% {
		background-position: 11.11% 0;
	}
	13.04% {
		background-position: 22.22% 0;
	}
	17.39% {
		background-position: 33.33% 0;
	}
	21.74% {
		background-position: 44.44% 0;
	}
	30.43% {
		background-position: 33.33% 0;
	}
	34.78% {
		background-position: 22.22% 0;
	}
	39.13% {
		background-position: 11.11% 0;
	}
	43.48% {
		background-position: 0% 0;
	}
	52.17% {
		background-position: 55.56% 0;
	}
	56.52% {
		background-position: 66.67% 0;
	}
	60.87% {
		background-position: 77.78% 0;
	}
	65.22% {
		background-position: 88.89% 0;
	}
	69.57% {
		background-position: 100% 0;
	}
	78.26% {
		background-position: 88.89% 0;
	}
	82.61% {
		background-position: 77.78% 0;
	}
	86.96% {
		background-position: 66.67% 0;
	}
	91.30% {
		background-position: 55.56% 0;
	}
}

#lookAtScreenImage {
	display: block;
	width: 50vmin;
	height: 50vmin;
	background-image: url('Assets/Icon_LookArrow_256.png');
	background-size: cover;
	animation: arrowBounceAnimation 0.3s ease-out alternate infinite;
}

@keyframes arrowBounceAnimation {
	0% {
		transform: translateY(1vmin);
	}
	100% {
		transform: translateY(-2vmin);
	}
}

#lookAtScreenPanel {
	padding-top: 6vmin;
	padding-right: 6vmin;
	padding-bottom: 4vmin;
	padding-left: 6vmin;
}

#bottomRightButtons {
	position: fixed;
	bottom: 3.5vmin;
	right: 2.5vmin;
	transform-origin: bottom right;
}

#optionsScreen {
	display: none;
}

.optionsButton {
	width: 14vmin;
	height: 14vmin;
}

.view {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0%;
}

.fullScreenContent {
	position: fixed;
	left: 0px;
	right: 0px;
	bottom: 0px;
	top: 0px;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.fullScreenAdaptiveContent {
	position: fixed;
	left: 0px;
	right: 0px;
	bottom: 0px;
	top: 0px;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.belowHeaderContent {
	position: fixed;
	left: 0px;
	right: 0px;
	bottom: 0%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.enterBounceAnimated {
	animation: enterBounceAnimation 0.7s ease-in-out;
	animation-fill-mode: both;
}

.animDelay1 {
	animation-delay: 0.1s;
}

.animDelay2 {
	animation-delay: 0.2s;
}

@keyframes enterBounceAnimation {
	0% {
		transform: scale(0);
	}
	30% {
		transform: scale(1.15);
	}
	60% {
		transform: scale(0.97);
	}
	100% {
		transform: scale(1);
	}
}

.actionPreviewPanel {
	width: 15vmin;
	height: 15vmin;
	background-color: rgb(209, 230, 237);
	/* background-color: rgba(0, 47, 70, 0.7); */
	backdrop-filter: blur(3vmin);
	border-radius: 3vmin;
	border-width: 0vmin;
	padding: 1vmin;
	/* border-width: 0.8vmin; */
	border-style: solid;
	border-color: white;
	z-index: 2;
	opacity: 0.7;
}

.actionPreviewHighlightPanel {
	width: 15vmin;
	height: 15vmin;
	background-color: rgb(209, 230, 237);
	backdrop-filter: blur(3vmin);
	border-radius: 3vmin;
	border-width: 1vmin;
	border-style: solid;
	border-color: rgb(255, 248, 177);
	z-index: 2;
}

.adaptivePreviewLayout {
	flex-wrap: wrap;
}

.blurPanel {
	background-color: rgba(0, 47, 70, 0.7);
	backdrop-filter: blur(3vmin);
	border-radius: 5vmin;
	border-width: 0.8vmin;
	border-style: solid;
	border-color: white;
	padding-top: 2vmin;
	padding-right: 2vmin;
	padding-bottom: 3.5vmin;
	padding-left: 2vmin;
}

.pressEffectButton {
	background-color: rgba(255, 255, 255, 0.95);
	backdrop-filter: blur(3vmin);
	color: rgb(0, 47, 70);
	font-family: 'Atkinson Hyperlegible', sans-serif;
	font-weight: bold;
	border-radius: 2vmin;
	border: none;
	box-shadow: 0 1.5vmin rgba(255, 255, 255, 0.75);
	cursor: pointer;
	transition: 0.05s;
}

.largeButtonText {
	font-size: 9vmin;
}

.smallButtonText {
	font-size: 6vmin;
}

.pressEffectButton:hover {
	box-shadow: 0 1.5vmin rgba(255, 255, 255, 0.55);
}

.pressEffectButton:active {
	box-shadow: 0 0 #000;
	transform: translateY(1.5vmin);
}

.mainButtonSpacing {
	margin-top: 1.5vmin;
	margin-bottom: 1.5vmin;
	padding: 2.5vmin;
	padding-left: 5vmin;
	padding-right: 5vmin;
}

.optionsButtonSpacing {
	padding: 0.5vmin;
}

.choose-none {
	position: relative;
	top: 5%;
	right: 5%;
	bottom: 5%;
	left: 5%;
	width: 90%;
	height: 90%;
	background-size: cover;
	background-image: url('Assets/Nothing.png');
}

.choose-act {
	background-image: url('Assets/Interact.png');
}

.choose-move-north {
	background-image: url('Assets/MoveNorth.png');
}

.choose-move-east {
	background-image: url('Assets/MoveEast.png');
}

.choose-move-south {
	background-image: url('Assets/MoveSouth.png');
}

.choose-move-west {
	background-image: url('Assets/MoveWest.png');
}

.choose-throw-north {
	background-image: url('Assets/ThrowNorth.png');
}

.choose-throw-east {
	background-image: url('Assets/ThrowEast.png');
}

.choose-throw-south {
	background-image: url('Assets/ThrowSouth.png');
}

.choose-throw-west {
	background-image: url('Assets/ThrowWest.png');
}

.actionInfoContainer {
	display: flex;
	flex-direction: row;
}

.playerImage {
	height: 20vmin;
	width: 12vmin;
	object-fit: cover;
}

.titleText {
	color: white;
	font-family: 'Atkinson Hyperlegible', sans-serif;
	font-weight: bold;
	margin-top: 1.8vmin;
	font-size: 7vmin;
	margin-bottom: 0.8vmin;
}

.infoText {
	color: white;
	font-family: 'Atkinson Hyperlegible', sans-serif;
	font-weight: bold;
	font-size: 5vmin;
	margin: 0px;
}

.joinFormField {
	color: rgb(0, 47, 70);
	font-family: 'Atkinson Hyperlegible', sans-serif;
	font-weight: bold;
	text-align: center;
	font-size: 7vmin;
	padding: 3vmin;
	border: none;
	border-radius: 2vmin;
	width: 80%;
	height: 5vmin;
}

.socialButton {
	width: 12vmin;
	height: 12vmin;
	padding: 2vmin;
	transition: 0.05s;
}

.socialButton:hover {
	transform: scale(1.05);
	opacity: 0.9;
}

.socialButton:active {
	transform: scale(0.98);
}

.verticalCentreLayout {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	flex-direction: column;
	text-align: center;
}

.horizontalPanelLayout {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	text-align: center;
	gap: 2.5vmin;
}

.adaptivePanelLayout {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2.5vmin;
}

.verticalPanelLayout {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 2.5vmin;
}

.actionButtonLayout {
	/* position: fixed; */
	display: flex;
	justify-content: center;
	align-content: center;
	width: 80vmin;
	height: 80vmin;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 3vmin;
}

.actionButton {
	text-align: center;
	width: 38vmin;
	height: 38vmin;
	/* height: 50%; */
}

.configButton {
	width: 25vmin;
	height: 25vmin;
}

.actionNumberImage {
	display: block;
	position: relative;
	width: 10vmin;
	height: 10vmin;
	left: -0.2vmin;
	top: -34.3vmin;
}

.actionNumberImageSmall {
	display: block;
	position: relative;
	width: 5vmin;
	height: 5vmin;
	left: -1vmin;
	top: -14.6vmin;
}

.actionButton:active {
	opacity: 0.8;
}

.packagePanel {
	width: 40vmin;
	height: 40vmin;
}

.leftArrowButton {
	background-image: url(Assets/Icon_Arrow1_128.png);
	background-size: cover;
	width: 15vmin;
	height: 15vmin;
}

.rightArrowButton {
	background-image: url(Assets/Icon_Arrow1_128.png);
	transform: scaleX(-1);
	background-size: cover;
	width: 15vmin;
	height: 15vmin;
}

.overlay {
	position: fixed;
	top: 0%;
	right: 0%;
	bottom: 0%;
	left: 0%;
}

.defaultBlur {
	background-color: rgba(0, 18, 32, 0.5);
	backdrop-filter: blur(1vmin);
}

.darkBlur {
	background-color: rgba(0, 18, 32, 0.8);
	backdrop-filter: blur(1vmin);
}

.action1TransitionAnimated {
	animation: action1TransitionAnimation 0.25s forwards ease-out;
}

.action2TransitionAnimated {
	animation: action2TransitionAnimation 0.25s forwards ease-out;
}

.action3TransitionAnimated {
	animation: action3TransitionAnimation 0.25s forwards ease-out;
}

.action4TransitionAnimated {
	animation: action4TransitionAnimation 0.25s forwards ease-out;
}

.inputPanelTransitionAnimated {
	animation: inputPanelTransitionAnimation 0.2s forwards ease-out;
}

.buttonPromptAnimated {
	animation: buttonPromptAnimation 0.2s forwards ease-in;
}

@keyframes buttonPromptAnimation {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	50% {
		transform: scale(1.1);
		opacity: 0.9;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

.fadeInAnimated {
	animation: fadeAnimation 0.3s both;
	animation-delay: 0.15s;
}

@keyframes fadeAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.applyScaleMult {
	transform: scale(var(--scaleMult));
}

.actionButtonImage {
	position: relative;
	top: 5%;
	right: 5%;
	bottom: 5%;
	left: 5%;
	width: 90%;
	height: 90%;
	background-size: cover;
}

/* Portrait screens */
@media (orientation: portrait) {
	html {
		--scaleMult: 1;
	}

	.multiturnHeader {
		height: 15%;
	}

	.belowHeaderContent {
		top: 15%;
	}

	.adaptivePanelLayout {
		flex-direction: column;
	}

	.adaptivePreviewLayout {
		width: 80vmin;
	}

	.actionInfoContainer {
		width: 68vmin;
	}

	.hideInPortrait {
		display: none;
	}

	/* #socialLinks {
		left: 0px;
		bottom: 3vmin;
	} */

	/* Content is pushed down vertically in portrait to make buttons easier to reach */
	.fullScreenAdaptiveContent {
		top: 13%;
	}

	@keyframes action1TransitionAnimation {
		0% {
			transform: translate(8.8vmin, 29vmin) scale(2.55);
		}
		100% {
			transform: translate(0, 0) scale(1);
		}
	}

	@keyframes action2TransitionAnimation {
		0% {
			transform: translate(30.4vmin, 29vmin) scale(2.55);
		}
		100% {
			transform: translate(0, 0) scale(1);
		}
	}

	@keyframes action3TransitionAnimation {
		0% {
			transform: translate(-30.4vmin, 69vmin) scale(2.55);
		}
		100% {
			transform: translate(0, 0) scale(1);
		}
	}

	@keyframes action4TransitionAnimation {
		0% {
			transform: translate(-8.8vmin, 69vmin) scale(2.55);
		}
		100% {
			transform: translate(0, 0) scale(1);
		}
	}

	@keyframes inputPanelTransitionAnimation {
		0% {
			transform: translate(0vmin, -10vmin) scaleY(1.37);
		}
		100% {
			transform: translate(0vmin, 0vmin) scaleY(1);
		}
	}
}

/* Landscape screens */
@media (orientation: landscape) {
	html {
		-webkit-backface-visibility: hidden; /* Safari */
		backface-visibility: hidden;
		--scaleMult: 0.8;
	}

	.multiturnHeader {
		height: 20%;
	}

	.belowHeaderContent {
		top: 20%;
	}

	.adaptivePanelLayout {
		flex-direction: row;
	}

	.adaptivePreviewLayout {
		width: 40vmin;
	}

	.actionInfoContainer {
		width: 48vmin;
	}

	.hideInLandscape {
		display: none;
	}

	/* Content is centred vertically in landscape */
	.fullScreenAdaptiveContent {
		top: 0%;
	}

	@keyframes action1TransitionAnimation {
		0% {
			transform: translate(8vmin, -11.5vmin) scale(2.55);
		}
		100% {
			transform: translate(0, 0) scale(1);
		}
	}

	@keyframes action2TransitionAnimation {
		0% {
			transform: translate(29.5vmin, -11.5vmin) scale(2.55);
		}
		100% {
			transform: translate(0, 0) scale(1);
		}
	}

	@keyframes action3TransitionAnimation {
		0% {
			transform: translate(8vmin, 10vmin) scale(2.55);
		}
		100% {
			transform: translate(0, 0) scale(1);
		}
	}

	@keyframes action4TransitionAnimation {
		0% {
			transform: translate(29.5vmin, 10vmin) scale(2.55);
		}
		100% {
			transform: translate(0, 0) scale(1);
		}
	}

	@keyframes inputPanelTransitionAnimation {
		0% {
			transform: translate(-21.2vmin, -0vmin) scale(1.595, 0.91);
		}
		100% {
			transform: translate(0, 0) scale(1);
		}
	}
}

/* Scale things down for near-square aspect ratios */
@media (min-aspect-ratio: 6/9) and (max-aspect-ratio: 9/6) {
	html {
		--scaleMult: 0.8;
	}

	/* Also always centre content vertically so it fits nicely within the limited viewport */
	.fullScreenAdaptiveContent {
		top: 0%;
	}
}
